.recharts-responsive-container {
  position: absolute;
  bottom: 0;
}

.barchart-title {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.barchart-legend {
  position: absolute;
  top: 24px;
  right: 32px;
  display: flex;
  gap: 52px;
  border: none;
}
.barchart-legend li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-tooltip {
  border: none;
}
.custom-tooltip.custom-bar {
  margin-left: 30px;
  /* margin-bottom: 150px; */
  color: #fff;
  background: #e60000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 60px;
  border: none;
}
.custom-tooltip .data-kg,
.custom-tooltip .data-cal {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 12px;
}

.barchart-legend li::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 25px;
}
.barchart-legend li:first-child {
  color: #74798c;
}
.barchart-legend li:first-child::before {
  background-color: #282d30;
}
.barchart-legend li:last-child {
  color: #74798c;
}
.barchart-legend li:last-child::before {
  background-color: #e60000;
}
