header {
  height: 91px;
  background: #020203;
  width: 100%;
  margin-bottom: 0;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
header img {
  width: 178px;
}

header ul {
  padding-right: 87px;
  padding-left: 29px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  list-style: none;
  font-size: 24px;
  font-weight: 500;
}
header li a {
  color: #fff;
  text-decoration: none;
  transition: text-decoration 0.6s ease-in-out, filter 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}
header li a:hover {
  text-decoration: underline 2px #f60000;
  text-underline-offset: 12px;
  text-shadow: 1px 0 2px #020203;
  filter: brightness(70%);
}
